
html {
    font-size: 100%;
}

*{ /*  TOUTES LES BALISES */
    box-sizing: border-box; /*  Les balises ne vont pas grandir avec le padding*/
}

/******* HEADER *******/

/* navigation */

.mobile-MENU {
    display: none;
}

header {
    width: 100%;
    height: 140px;
}

a {
    text-decoration: none;
    color: black;
}

.navigation {
    display: flex;
    justify-content: space-between; /*  les éléments se placent de chaque coté */
    align-items: center; /*  ils se centrent entre eux */ 
    margin: 0px;
    padding : 0px;
}

.navigation ul{
    display: flex;
    margin: 40px 40px 0px 40px;
}

.logo ul {
    display: flex;
}

 ul {
    list-style: none;
 }

 .logo li {
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
    font-size: 1.2em;
    margin: auto;
    height: auto;
 }

 li img{
    width: 50px;
 }

/* menu */
.menu li{
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    vertical-align: middle;
    padding-right: 50px;
}
.menu img{
    width: 30px;
    vertical-align: middle;
    padding-right: 5px;
}
/******* fin menu *******/



/*** FIN navigation ***/

body{
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffc918;
    position: relative;

    overflow-x: hidden; 
}

.mobile-MENU {
    display: none;
}

/*** PHOTOS ***/

.containerPhoto {  
    display: flex;
    overflow: scroll;
    justify-content: space-between; /*  les éléments se placent de chaque coté */
 
    margin-left: 40px;
    width: 98%;
}

p {
    z-index: -1;
    color: black;
    font-family: 'Poppins', sans-serif; 
}

.photo a .text-voyage {
    display: none;
}


.photo img{
    z-index: 1000;
    width:400px; 
    display: block;
    margin-right: 40px;
    border: 5px solid white;
}

.overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }

.photo a:hover .overlay{
    opacity: 0.5;
    
}


/******* FOOTER *******/

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    margin: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.reseaux ul {
    display: flex;
    margin: 0px 40px 0px 40px;
}

.reseaux a{
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    vertical-align: middle;
    padding-right: 50px;
    color: white;
}
.reseaux img{
    width: 20px;
    vertical-align: middle;
    padding-right: 5px;
}

.icon-reseaux {
    display: none;
}

/******* fin FOOTER *******/

/***
Timeline
***/

.timeline {
    margin-top: 80px;
    position: relative;
}

.timeline .line {
    height: 1px;
    background: black;
    width: 100%;
    margin-left: 40px;
    position: relative;
}

/* .timeline .line::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 1px;
    left: 0;
    top: -5px;
    background-color: black;
} */

.timeline .date-label {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.timeline .date-label::before {
    position: absolute;
    top: -5px;
    left: -2px;
    height: 10px;
    content: '';
    width: 1px;
    background: black;
}

.timeline .marker {
    position: absolute;
    bottom: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.timeline .marker span {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.timeline .marker.active span {
    opacity: 1;
}

.timeline .marker::before {
    position: absolute;
    top: 35px;
    left: calc(50% - 5px);
    height: 10px;
    content: '';
    width: 10px;
    border-radius: 10px;
    border: solid black 1px;
    transition: background-color 0.2s ease;
    background-color: #ffc918;
    cursor: pointer;
}

.timeline .marker.active::before {
    background-color: black;
}

.containerPhoto div:last-child img {
    margin-right: 80vw;
}

body {
    overflow-x: hidden;
}

.containerPhoto::-webkit-scrollbar {
    display: none;
}

.containerPhoto {
    scrollbar-width: none;
    scroll-behavior: smooth
}

.scroll-invitation {
    display: flex;
    margin-left: 40px;
    margin-bottom: 80px;
}

.scroll-invitation p {
    margin: 0;
    margin-left: 20px;
    font-size: 20px;
}