body{
    margin: 0px;
    background-color: #ffc918 ;
}


*{ /*  TOUTES LES BALISES */
    box-sizing: border-box; /*  Lles balises ne vont pas grandir avec le padding*/
}

/******* HEADER *******/

/* navigation */
a {
    text-decoration: none;
    color: black;
}
.navigation {
    display: flex;
    justify-content: space-between; /*  les éléments se placent de chaque coté */
    align-items: center; /*  ils se centrent entre eux */ 
    margin: 20px;
}
.navigation ul{
    display: flex;
}
.logo ul {
    display: flex;
}
 ul {
    list-style: none;
 }

 .logo li {
    z-index: 1000;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
    font-size: 15pt;
    margin: auto;
    height: auto;
 }

 li img{
    width: 50px;
 }

/* menu */
.menu li{
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: 9pt;
    vertical-align: middle;
    padding-right: 50px;
}
.menu img{
    width: 20px;
    vertical-align: middle;
    padding-right: 5px;
}
/* fin MENU */
/** fin NAVIGATION **/
/*************** fin HEADER ***************/




/***** CONTAINER PHOTO *****/
.container {
    display: block;
    width: 800px;
    height: 800px;
}

.photos-wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 1em;
    grid-row-gap: 10em;

    margin-left: 60px;
}

/***** PHOTO *****/
.draggable {
    width: 100%;
    height: 80%;
}

.H500 img {
    width: 240px;
    height: 160px;
    border: 5px solid white;  
}

.H700 img {
    width: 240px;
    height: 160px;
    border: 5px solid white;  
}

.V700 img {
    width: 160px;
    height: 240px;
    border: 5px solid white;  
}



/***** fin PHOTO *****/

/***** BOX *****/


/***** fin BOX *****/



/*************** FOOTER ***************/

footer {
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.reseaux li{
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: 7pt;
    vertical-align: middle;
    padding-right: 50px;
}
.reseaux img{
    width: 20px;
    vertical-align: middle;
    padding-right: 5px;
}
/*************** fin FOOTER ***************/


